<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GEMINI_API_KEY</key>
    <string></string>
    <key>SPOTIFY_CLIENT_ID</key>
    <string>3dcb9fbd5f01403f8e64faa975c312e4</string>
    <key>SPOTIFY_REDIRECT_URI</key>
    <string>vinylplayer://callback</string>
    <!-- Allow checking and opening Spotify -->
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>spotify</string>
        <string>spotify-ios</string>
        <string>spotify-sdk</string>
        <string>spotify-action</string>
    </array>

    <!-- Your app’s custom URL scheme for the redirect -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>None</string>
            <key>CFBundleURLName</key>
            <string>vinylplayer</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>vinylplayer</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
